[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "~=1.24.70"
idna = "==2.9"
requests = "==2.25.0"
localstack = "==1.1.0"

[dev-packages]

[requires]
python_version = "3.8"