
<div class="row" style="justify-content: center;">

  <div class="card col-sm-3" style="width: 15rem;" *ngFor="let item of game">
    <h5 class="card-title">{{ item.game_name }}</h5>
    <img src="https://m.media-amazon.com/images/I/81vi7OqaZ7L._AC_SL1500_.jpg" class="card-img-top">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Category: {{ item.category }}</li>
      <li class="list-group-item">Platform: {{ item.platform }}</li>
      <li class="list-group-item">Rating: {{ item.rating }}</li>
    </ul>
  </div>

</div>